@media screen and (max-width:1200px) {

    .header__menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;

    }

    .presentacion__contenido{
        width: auto;
    }

    
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}